biopython==1.79
gravy==1.0.11
ipc==1.2.1
ipython==8.37.0
isoelectric==1.0
joblib==1.4.2
lazypredict==0.2.13
lightgbm==4.5.0
optuna==4.0.0
pandas==2.2.3
peptides==0.3.4
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-magic==0.4.24
python-version==0.0.2
scikit-learn==1.7.2
xgboost==3.0.5

